* {
  outline: none;
  box-sizing: border-box;
}
html, body {
  padding: 0;
  font-family: $font1;
  font-size: 16px;
  color: $colorBlack;
  line-height: 1.3;
  max-width: 100vw;
  overflow-x: hidden;
}
ul, li {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1135px;
  padding: 0 30px;
  @include media-960 {
    padding: 0 20px;
  }
  @include media-640 {
    padding: 0 15px;
  }
}
.button {
  cursor: pointer;
  display: inline-block;
  background: $colorGray300;
  color: $colorWhite;
  border: 2px solid $colorGray600;
  text-align: center;
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
  &.m-error {
    background: #cd0000;
    border-color: #cd0000;
  }
}
.input {
  background: $colorGray600;
  color: $colorWhite;
  border: 1px solid $colorWhite;
  height: 38px;
  line-height: 30px;
  text-align: center;
  &::placeholder { color: $colorWhite }
  &.m-error {
    border-color: #cd0000;
    color: #cd0000;
    &::placeholder { color: #cd0000 }
  }
}
.ul {
  list-style: url('/img/round.png');
  margin-left: 25px;
  & > li {
    padding-left: 25px;
  }
  & > li + li {
    margin-top: 10px;
  }
}
