.menu {
  position: fixed;
  top: 130px;
  right: 30px;
  min-width: 200px;
  padding: 25px;
  z-index: 1000;
  transition: all 0.2s;
  &.m-bg {
    background: $colorGray400;
  }
  &__item {
    list-style: none;
    & + & {
      margin-top: 30px;
    }
  }
  &__link {
    color: $colorWhite;
    font-weight: 600;
    text-decoration: none;
    &.m-active,
    &:hover {
      color: $colorPrimary
    }
  }
}